*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

.header{
    background-color: rgb(219, 236, 214);
    position: relative;
    min-height: 35vh;
    text-align: center; /* Center the content */
    background-image: linear-gradient(rgba(4, 9, 30, 0.591),rgba(4, 9, 30, 0.514)),url(longt2.jpg);
    background-position: center;
    background-size: cover;
}
.header-image {
    margin: 0;
    width: 100%;
    height: auto;
    opacity: 25%;
}

/* menu nav area*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
nav img{
    width: 110px;
    margin-top: -10px;
    margin-left: -20px;
    
}
@media(max-width: 800px){
    nav img{
        width: 100px;
    }
}
@media(max-width: 700px){
    nav img{
        width: 80px;
    }
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
   margin-top: -35px;
   margin-right: -40px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 10px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background:rgb(112, 141, 62);
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}
.logorb{
    visibility: hidden;
}
/*media section for smaller screen size for nav*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
       display: block; 
    }
    .nav-links{
        position:absolute;
        background: rgb(112, 141, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
        visibility: hidden;
    }
    nav .fa-solid{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        z-index: 2;
    }
    .nav-links ul{
        padding: 30px;
        margin: -20px 0px 0 -10px;
    }
    .logorb{
        visibility: visible;
    }
    .login-button{
        visibility: hidden;
    }
   
}


@media screen and (max-width: 700px) {
    .hidden-mobile {
        position:absolute;
        background: rgb(112, 141, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
     transition: 1s;
      visibility: hidden;
    }
    .visible-mobile {
        position:absolute;
        background: rgb(112, 141, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
      visibility: visible;
    }
    .visible-mobile ul{
        padding: 30px;
        margin: -20px 0px 0 -10px;
    }
    .visible-mobile ul li{
        display: block; 
     }
 }

.title{
    
    color:#fff;
}
.title h1{
    font-size: 50px;
    color:#fff;
}
@media(max-width: 800px){
    .title h1{
       font-size: 40px;
    }
}
@media(min-width: 800px){
    .title{
        margin-top: -5%;
    }
}

.sec1{
   
    background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)73%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    min-height: 35vh;
    padding-top: 40px;
}
@media(min-width:901px){
    .sec1{
        min-height: 35vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)71%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:900px){
    .sec1{
        min-height: 40vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)75%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:800px){
    .sec1{
        min-height: 40vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)75%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:700px){
    .sec1{
        min-height: 45vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)77%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:550px){
    .sec1{
        min-height: 50vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)79.5%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:550px){
    .sec1{
        min-height: 50vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)79.5%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:450px){
    .sec1{
        min-height: 62.5vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)81%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}
@media(max-width:350px){
    .sec1{
        min-height: 67.5vh;
        background-image: linear-gradient(rgba(24, 29, 50, 0.791),rgba(240, 247, 220, 0.97)84%, rgba(240, 247, 220, 1)),url(treescape2.webp);
    }
}

.abtsec{
  /*  background-image: linear-gradient(rgba(4, 9, 30, 0.591),rgba(4, 9, 30, 0.514)),url(treescape2.webp); */
  /*background: linear-gradient(to bottom, rgba(4, 9, 30, 0), rgba(240, 247, 220)); */
  background-color: transparent;
  background-size: 100% 100%;
  margin-bottom: -175px;
  margin-top: -100px;
}

.divpt1{
   
    padding: 15px 20px 15px 20px;
  /*  background-color: rgba(38, 65, 58, 0.792); */
    background-color: rgba(139, 166, 173, 0.328);
    border: solid 2px rgba(99, 126, 133, 0.728);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
   
}
.divpt1 h3{
    color: #fff;
    margin-bottom: 10px;
}
.divpt1 p{
    color: #fff;
}

.row1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-top: 0px;
    padding-top: 15px;
    background-color: rgba(240, 247, 220);
    background-image: linear-gradient(rgba(240, 247, 220,0.9),rgba(240, 247, 220)),url(treescape2.webp); 
   
}

.row1 div{
    box-sizing: border-box;
   
    
}
.row1 div:hover{
   
}

.wwd, .purpose, .why{
    border: solid 2px  rgb(27, 59, 59);
   
}

.why:hover , .wwd:hover , .purpose:hover {
    box-shadow: 0 0 20px 0px rgb(89, 106, 123);
}
/*
.divpt2 div:nth-child(1){
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
}*/
.divpt2 img{
    width: fit-content;
    border-radius: 10px;
    width: calc(90% - 20px);
    
}
.row1 img:nth-child(-n+2){
    margin-top: 10px;
}
.row1 div p{
  
}

.row1 div h3{
    margin-bottom: 10px;
    border-bottom:solid 2px rgb(125, 134, 130);
    padding-bottom: 7.5px;
}
.row1 div ul{
    color: #fff;
    margin: auto;
}
.row1 div li{
    margin-top: 5px;
    list-style-type: none;
}


@media(max-width:700px){
    .row1{
        flex-direction: column;
    } 
    .row1 div{
        width: 90%;
        margin: 10px auto;
        
    }
    .divpt2{
        display: flex;
    }
    .divpt2 img{
        max-width: 60%;
       
    }
    .divpt2 p{
        margin-left: -30px;
        
    }
    .wwd div:nth-child(n-2){
        display: block;
    }
    .wwd img{
        max-width: 100%;
    }
    .divpt1{
        width: 75%;
    }
    .purpose p{
        line-height: 1.5;
    }
    /*
    .row1 div p{
        margin: auto;
    }
    .divpt2{
        display: flex;
        width: 100%;
        gap: 20px;
    } */ 
}
@media(max-width:550px){
    .purpose p{
        line-height: 1.15;
    }
}
@media(max-width:450px){
    .divpt2 img{
        max-width: 40%;
       
    }
    .wwd img{
        max-width: 100%;
    }
    .purpose p{
        line-height: 1.1;
    }
   
}

.purpose{
    background-color: darkslategray;
    text-align: center;
    border-radius: 10px;
    width: 32.5%;
    margin: 10px;
    padding: 20px 5px;
}
.purpose h3{
    color: #fff;
}
.purpose p{
    color: #fff;
    padding: 0 21px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#treepee2{
    visibility: hidden;
    position: absolute;
    margin: 250px 0px 90px 0;
    
}
@media(max-width:400px){
    .purpose p{
        margin: 0 auto;
        margin-left: -17.5px;
        margin-right: -17.5px;
        line-height: 1.25;
    }
  
    #treepee1{
        visibility: hidden;
        position: absolute;
    }
  
}

.wwd{
    width: 37.5%;
    background-color: darkslategray;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px;
}
.wwd h3{
    color: #fff;
}
.wwd p{
    color: rgb(163, 194, 194);
    margin-bottom: 7.5px;
    padding-bottom: 5px;
}
.wwd ul li{
    margin-top: 15px;
}
.wwd img{
    width: 100%;
    margin-bottom: 15px;
}
@media(max-width:400px){
    .wwd li{
        margin-left: -20px;
        margin-right: -20px;
    }
    .wwd p{
        margin: -5px auto -2.5px auto;
    }
}

.why{
    width: 32.5%;
    background-color: darkslategray;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 5px;
}
.why h3{
    color: #fff;
}
.why p{
    color: #fff;
    padding: 0 21px;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
}
@media(max-width:500px){
    .why p{
        line-height: 1.15;
    }
}
@media(max-width:400px){
    .why p{
        margin: 0 auto;
        margin-left: -7.5px;
        margin-right: -7.5px;
        line-height: 1.15;
    }
    #treepee3{
        visibility: hidden;
        position: absolute;
    }
}

.mantreelee{
    display: none;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0a0a23;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  @media(max-width:850px){
    .login-button{
        top: 20px;
        right: 20px;
    }
  }
  
  .login-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: all 0.6s;
  }
  
  .login-button:hover::before {
    left: 100%;
  }

  .extrasec{
    background-image: linear-gradient(rgba(240, 247, 220),rgba(104, 109, 130, 0.814)),url(treescape2.webp); 
    min-height: 30vh;
    
  }